@page "/korpa"
@using BlazorShop.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NM
@inject Blazored.LocalStorage.ISyncLocalStorageService LS

<h1>Korpa</h1>

@if (LogickaVr)
{
    <h2>Morate se Ulogovati!</h2>
   
   <button class="btn btn-primary" @onclick="Idinalogin">Log In</button>
}

@if (OtvoriLogIn)
{ 
    <Login KodPodKomponente="EventHandlerKodRoditelja" KaServeruLogovanje=@LogInRegServer />
    <button @onclick="UkloniLogin" class="btn btn-primary">Izlaz</button>
}
<h2>Vas racun</h2>

<table style="text-align:center" class="table">
    <tr>
        <th></th>
        <th>Sifra art.</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Kolicina</th>
        <th> Ukupno</th>
    </tr>
    @{ Svega = 0;}
    @foreach (Artikal a in PoruceniArtikli)
    {
        <tr>
            <td><button @onclick="(() => UkloniIzKorpe(a))" class="btn btn-primary">Ukloni</button></td>

            <td>@a.SKU</td>
            <td>@a.Naziv</td>
            <td>@a.Cena</td>
            <td>@a.Kolicina</td>
            <td>@(a.Cena * a.Kolicina)</td>
            @{ Svega += a.Cena * a.Kolicina;}

        </tr>
    }
    <tr>
        <td colspan="4" style="border-left: hidden; border-bottom:hidden"></td>
        <td style=" font-style:italic, oblique;  text-align:right">Ukupno:</td>
        <td style="border:2px solid black; font-style:italic, oblique; background-color:darkgrey">@Svega</td>
    </tr>
</table>

<button class="btn btn-primary" @onclick="ZavrsiRacun">Zavrsi racun</button>

@code {

    public HubConnection KorpaServer;
    public HubConnection LogInRegServer;

    public Artikal art2 = new Artikal();
    public List<Artikal> PoruceniArtikli = new List<Artikal>();
    public List<Artikal> KupljeniArtikli = new List<Artikal>();
    public List<Artikal> PomocnaLista = new List<Artikal>();
    public decimal UkupnaCena = 0;
    public decimal Svega = 0;
    public User LogInKorisnik { get; set; }

    public bool LogickaVr { get; set; } = false;
    public bool OtvoriLogIn { get; set; } = false;
    public bool LogVr { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {

        KorpaServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habkorpa")).Build();
        LogInRegServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habloginreg")).Build();

        await KorpaServer.StartAsync();
        await LogInRegServer.StartAsync();

        if (LS.GetItem<User>("CuvajJuzera") != null)
        {
            LogInKorisnik = LS.GetItem<User>("CuvajJuzera");
        }

        if (LS.ContainKey("CuvajKorpu"))
        {
            PoruceniArtikli = LS.GetItem<List<Artikal>>("CuvajKorpu");
        }
    }

    async Task ZavrsiRacun()
    {
        if (LS.GetItem<User>("CuvajJuzera") != null)
        {
            LogInKorisnik = LS.GetItem<User>("CuvajJuzera");
            await KorpaServer.SendAsync("KorpaRacun", PoruceniArtikli, LogInKorisnik);
            await KorpaServer.SendAsync("BrisanjeIzBaze", PoruceniArtikli);

            PoruceniArtikli.Clear();
            LS.RemoveItem("CuvajKorpu");
            LS.RemoveItem("CuvajJuzera");
            LS.RemoveItem("OstaliArtikli");
            LogickaVr = false;
        }
        else
        {
            LogickaVr = true;
        }
    }

    public void Idinalogin()
    {
        if (OtvoriLogIn)
        {
            OtvoriLogIn = false;
        }
        else
        {
            OtvoriLogIn = true;
        }
        LogickaVr = false;
    }

    public void UkloniIzKorpe(Artikal a)
    {
        PomocnaLista = LS.GetItem<List<Artikal>>("PreostaliArtikli");
        for (int i = 0; i < PomocnaLista.Count; i++)
        {
            if (PomocnaLista[i].SKU == a.SKU)
            {
                PomocnaLista[i].Kolicina += a.Kolicina;
            }
        }
        PoruceniArtikli.Remove(a);
        LS.SetItem("CuvajKorpu", PoruceniArtikli);
        LS.SetItem("PreostaliArtikli", PomocnaLista);
        StateHasChanged();

    }

    public void EventHandlerKodRoditelja(User nesto)
    {
        LogInKorisnik = nesto;
        LS.SetItem("CuvajJuzera", LogInKorisnik);
    }

    public void UkloniLogin()
    {
        LogickaVr = true;
        OtvoriLogIn = false;
    }

}
