@page "/shop"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorShop.Shared
@using BlazorShop.Client
@inject NavigationManager NM
@inject Blazored.LocalStorage.ISyncLocalStorageService LS


<h1>Shop</h1>
<div style="float:left; width:50%; position:page "><h2>Artikli</h2></div>
<div style="float:left; width:50%; position:page"><h2>Izabrali ste:</h2></div>

<div style="width : 50%; max-height:570px;  position:page; float:left;overflow:scroll; overflow-x:hidden;  padding-right:5px">
    
    <table class="table" style="text-align:center; ">
        <tr>
            <th></th>
            <th>Sifra art.</th>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Kolicina</th>
        </tr>
        @foreach (Artikal a in lArt)
        {
        <tr>
            <td><button @onclick="(()=>DodajUKorpu(a))" class="btn btn-primary">Dodaj</button></td>
            <td>@a.ID</td>
            <td>@a.Naziv</td>
            <td>@a.Cena</td>
            <td>@a.Kolicina</td>
        </tr>
        }
    </table>
</div>
<div style=" width: 50%; max-height: 570px; position: page; float: left;overflow:scroll; overflow-x:hidden; border-left: 2px double red; padding-left: 5px ">
    


    <table class="table" style="text-align:center; ">
        <tr>
            <th>Sifra art.</th>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Kolicina</th>
        </tr>
        @foreach (Artikal a in IzabraniArtikal)
        {
            <tr>
                <td>@a.ID</td>
                <td>@a.Naziv</td>
                <td>@a.Cena</td>
                <td>@a.Kolicina</td>
            </tr>
        }
    </table>
</div>



    @code {

        public HubConnection ShopServer;
        public List<Artikal> lArt = new List<Artikal>();
        public List<Artikal> IzabraniArtikal = new List<Artikal>();

        public decimal UkupnaCena { get; set; } = 0;
        Artikal art = new Artikal();

        protected override async Task OnInitializedAsync()
        {

            ShopServer = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/habshop")).Build();


            ShopServer.On<List<Artikal>>("ArtikalMetoda", lart =>

            {
                lArt = lart;
                StateHasChanged();
            });

            await ShopServer.StartAsync();
            if (LS.ContainKey("CuvajKorpu"))
            {
                IzabraniArtikal = LS.GetItem<List<Artikal>>("CuvajKorpu");
            }
            await ShopServer.SendAsync("SviArtikli");

        }




        public void DodajUKorpu(Artikal a)
        {
            Artikal art = new Artikal(a.ID, a.Naziv, 1, a.Cena);


            if (IzabraniArtikal.Count == 0)
            {
                IzabraniArtikal.Add(art);

            }
            else
            {
                for (int i = 0; i < IzabraniArtikal.Count; i++)
                {
                    if (IzabraniArtikal[i].ID == art.ID)
                    {
                        IzabraniArtikal[i].Kolicina += 1;
                        LS.SetItem("CuvajKorpu", IzabraniArtikal);
                        return;
                    }
                }
                IzabraniArtikal.Add(art);
            }

            LS.SetItem("CuvajKorpu", IzabraniArtikal);


        }




    }
